body,html{
  margin:0;
  padding:0;
  border:none;

}

.leftpic p{
  font-size: 2em;
  padding-left: 1.2em;

}

.rightpic p{
  font-size: 2em;

}

.leftpic,.rightpic{
  margin-top: 2.5%;
  padding-left:2.5%;
}

.footer{
  height:30em;
  background-color: #ffb900;
}
.rightpic{
  padding-top: 7em;
  height : 50em;
  background-color: #ffb900;
}
.subjects{
  font-size: 2em;
  padding-left: 2.5%;
}
/* body{
  background-color: #ffb900;
} */
