<!DOCTYPE html>
<html>

<head>
  <title>Search</title>
  <link href="Search.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script>
    function loadDoc() {
      console.log("inside")
      var xhttp = new XMLHttpRequest();
      var sec = document.forms["res"]["find"].value
      var path = "/api/search/"
      xhttp.open("POST", path);
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.send(JSON.stringify({
        "isbn": sec
      }));
      console.log("inside");
      xhttp.onload = () => {
        console.log("load")
        var data = JSON.parse(xhttp.responseText)
        console.log("--------------------------------------------------------")
        console.log(data)
        document.getElementById("demo").innerHTML = "hiiiiiii";

      }


    }
  </script>

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Book-Read</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0" action="{{ url_for('logout',username=user) }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
      </form>
    </div>
  </nav>
  <div class="container">
    <div style="margin-top: 20px;margin-bottom: 30px;" class="container">
      <div class="d-flex justify-content-center">
        <div class="searchbar">
          <form name="res">
            <input class="search_input" type="text" name="find" placeholder="Search...">
            <button type="submit" class="btn btn-success" onclick="loadDoc()">Search</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</body>

</html>