/* hr {
    display: block;
} */
/* td {
    padding-right: 5%;
} */

table {
    padding-left: 50px;
}

.clearfix {
    overflow: auto;
}

.container {
    /* background-color: rgba(96, 96, 96, 0.7); */
    width: 30%;
    /* margin-top: 5%; */
    position: relative;
    padding: 2%;
    /* border-radius: 5%; */
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
}

#heading {
    margin-bottom: 30px;
}

.img2 {
    float: left;
    margin-right: 20px;
}